<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/css/style.css">
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div>

        <form method="post" action="/logout" style="margin-top: 5%; text-align: right; margin-right: 4%;">
            <button class="btn btn-primary logout">Log out</button>
        </form>
        <div class="container">
            <form class="form" action="/updateUser/<%- user.id %>?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nom</label>
                    <input type="text" class="form-control" value="<%- user.nom %>" name="nom"
                        placeholder="entrer votre nom">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Prénom</label>
                    <input type="text" class="form-control" value="<%- user.prenom %>" name="prenom"
                        placeholder="entrer votre prénom">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" value="<%- user.email %>" name="email"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" value="<%- user.mot_de_passe %>" name="mot_de_passe"
                        placeholder="">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Admin</label>
                    <input type="text" class="form-control" value="<%- user.is_admin %>" name="is_admin" placeholder="">
                </div>
                <button type="submit" class="btn edit-button">MODIFIER</button>
                <!-- <input value="MODIFIER"> -->
            </form>
        </div>
    </div>
</body>